.modalFull{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent{
    background-color: rgba(231, 76, 60, 1);
    width: 518px;
    // margin: 0 auto;
    color: white;
    &Header{
        background-color: rgba(212, 70, 55, 1);
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        &Text{
            font-size: 22px;
            line-height: 22px;
            font-weight: 700;
        }
        &Close{
            display: block;
            background-color: rgba(212, 70, 55, 1);
            border: none;
            font-size: 20px;
            width: 20px;
            color: white;
        }
    }
    &Body{
        padding: 40px 43px 40px;
        text-align: center;
        &Text{
            width: 433px;
            margin: 0 auto;
            font-size: 15px;
            line-height: 45px;
            margin-bottom: 34px;
        }
        &Btn{
            margin-left: 8px;
            padding:  15px 29px;
            background-color: rgba(179, 56, 44, 1);
            border-radius: 4px;
        }
        &Btn:first-of-type{
        padding-right: 42px;
        padding-left: 42px;
        }
    }
}